/* src/App.css */

body {
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #e0e0e0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  flex: 1;
}

.chat {
  width: 300px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  overflow-wrap: break-word;
}

.message-list {
  border: 1px solid #333;
  padding: 10px;
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  background-color: #2a2a2a;
  word-wrap: break-word;
}

.message {
  margin-bottom: 5px;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 5px;
  margin-bottom: 10px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 5px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

.send-button {
  background: url('send-arrow.png') no-repeat center center;
  background-size: contain;
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-left: 5px;
}

.send-button:hover {
  background-color: transparent;
}

.message-list::-webkit-scrollbar {
  width: 8px;
}

.message-list::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
}

.message-list::-webkit-scrollbar-track {
  background-color: #2a2a2a;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container input,
.login-container button {
  display: block;
  margin: 10px auto;
}
