/* src/index.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  font-stretch: condensed;
  font-size: 10px;
  background-color: #000000;  /* Dark background */
  color: #e0e0e0;  /* Light text color */
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

